<h1 [ngClass]="'classe1 classe2'">Liste des taches à réaliser</h1>
{{today | date | uppercase}}
<ul class="list-group">
  <li class="list-group-item" *ngFor="let todo of todos, let i = index">

    <div [ngClass]="{encours:todo.todoStatus,terminee:!todo.todoStatus}">
      <a [href]="todo.image">
        <img [src]="todo.image" />
      </a>

      {{todo.todoName | lowercase}}

      <button class="btn btn-primary" [disabled]="todo.todoStatus" (click)="onChangeStatus(i)">En cours</button>
      <button class="btn btn-success" [disabled]="!todo.todoStatus" (click)="onChangeStatus(i)">Terminée</button>

    <!--Action de modification-->

    <button class="btn btn-danger mr-1" *ngIf="!todo.isModif"  (click)="onChangeIsModif(i)">Modifier</button>
    <button class="btn btn-success mr-1" *ngIf="todo.isModif" (click)="onChangeIsModif(i)">Modification terminée</button>

    <button class="btn btn-success mr-1" (click)="onView(i)">En savoir plus</button>

    <input *ngIf="todo.isModif" class="form-control" [(ngModel)] = "todo.todoName"/>
    </div>


  </li>

</ul>
